 {% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Appointment Section -->
    <section id="appointment" class="appointment section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Book an Appointment</h2>
      </div><!-- End Section Title -->
      <center>
  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Book Appointment</button>
    </form>

</center>

    </section><!-- /Appointment Section -->
 {% endblock %}